body{

    background-size: cover;
}
.heading{

    font-size: 23px;
    margin: 0px;
    width: 100%;
}
.copyright_footer{

    position: fixed;
    bottom: 0;
    color: beige;
    width: 100%;

    background-color: rgb(0, 93, 193);
    line-height: 3;
    text-align: center;

}
canvas{
    border: 2px solid cyan;
    border-radius: 10px;

    margin-top: 90px;
    background-color: aliceblue;

    box-shadow: 5px 5px 50px rgb(152, 240, 35);


}
